In [1]:
import pandas as pd
import xml.etree.ElementTree as ET

In [2]:
def file(x):
    tree = ET.parse(x)
    root = tree.getroot()
    dfcols = ['id','seo_meta_description','source_id','developer_name']
    df = pd.DataFrame(columns=dfcols)
    def getvalueofnode( root ):
        return root.text if root is not None else None
    for child in root:   
        id = root.attrib.get('id')
        seo_meta_description = root.find('seo_meta_description')
        source_id = root.find('source_id')
        developer_name = root.find('developer_name')
        df = df.append( pd.Series( 
            [id, getvalueofnode(seo_meta_description), getvalueofnode(source_id), getvalueofnode(developer_name)],
            index=dfcols) ,ignore_index=True)
    dup = sum(df.duplicated())
    if dup > 1:
        df.drop_duplicates(inplace = True)
    return df

F1="Explainers/969140360237.explainer.xml"
file(F1)

,id,seo_meta_description,source_id,developer_name
0,969140360237,"In this explainer, we will learn how to solve ...",None,Rhodri Jones

In [3]:
b=file(F1)

In [4]:
filepath = ["Explainers/969140360237.explainer.xml",
          "Explainers/972198025105.explainer.xml", 
          "Explainers/973130769145.explainer.xml",
          "Explainers/973145156531.explainer.xml",
          "Explainers/974125905106.explainer.xml",
          "Explainers/979165921053.explainer.xml",
          "Explainers/980162532502.explainer.xml",
          "Explainers/985161036067.explainer.xml",
          "Explainers/985195836913.explainer.xml",
          "Explainers/989130863985.explainer.xml",
         ]
df1=file(filepath[0])
df2=file(filepath[1])
df3=file(filepath[2])
df4=file(filepath[3])
df5=file(filepath[4])
df6=file(filepath[5])
df7=file(filepath[6])
df8=file(filepath[7])
df9=file(filepath[8])
df10=file(filepath[9])
df10

,id,seo_meta_description,source_id,developer_name
0,989130863985,"In this explainer, we will learn how to calcul...",585152746587,None

In [5]:
tdf = [df1, df2 ,df3 ,df4 , df5 , df6 , df7 ,df8 ,df9]
result = pd.concat(tdf)
result

,id,seo_meta_description,source_id,developer_name
0,969140360237,"In this explainer, we will learn how to solve ...",None,Rhodri Jones
0,972198025105,"In this explainer, we will learn how to identi...",None,Simeon Every
0,973130769145,None,816154794708,Graham Ely
0,973145156531,None,230191639106,Sarah Garry
0,974125905106,"In this explainer, we will learn how to find g...",872143063508,Seungly Oh
0,979165921053,"In this explainer, we will learn how to constr...",187172546121,Harry Shuttleworth
0,980162532502,"In this explainer, we will learn how to define...",706193561646,Fallon Simpson
0,985161036067,"In this explainer, we will learn how to find t...",853160946083,Anita Piatek
0,985195836913,"In this explainer, we will learn how to work o...",853160946083,None